# Virtual environment
.venv/
venv/
ENV/

# Secrets and sessions
config/*.json
config/.env

# Temporary assets
captcha/*
!captcha/.gitkeep

# Pycache and build artifacts
__pycache__/
*.py[cod]
*$py.class

#cache content
# Ignore everything in the cache folder...
data/cache/*
# ...but do NOT ignore the .gitkeep file
!data/cache/.gitkeep

# IDE settings
.idea/

#Logging
logs/app.log