# Virtual environment
.venv/
venv/
ENV/

# Secrets and sessions
config/.env
config/session.json
config/info.json
config/attendance.json
config/sem_code.json
config/student_info.json
config/exam.json
# Temporary assets
captcha/*
!captcha/.gitkeep

# Pycache and build artifacts
__pycache__/
*.py[cod]
*$py.class

#cache content
# Ignore everything in the cache folder...
data/cache/*
# ...but do NOT ignore the .gitkeep file
!data/cache/.gitkeep

# IDE settings
.idea/
